<html ng-app="scoreBoardApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Score Board</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="site.css">
		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div ng-controller="ScoreBoardController as scoreBoard">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#">Baseball Score Board</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li ng-class='{active: scoreBoard.isCorrectionModeMode()}'><a href="#" ng-click="scoreBoard.toggleCorrectionMode()">Correction <span class="sr-only" ng-if="scoreBoard.isCorrectionMode()">(on)</span></a></li>
					<li ng-class='{disabled: scoreBoard.history.length == 0 }'><a href="#" ng-click="scoreBoard.revertState()">Undo</a></li>
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="scoreBoard.newGame()">New Game</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
			<div class="container">
				<div class="">
					<div class="col-xs-12 col-sm-4 col-sm-push-4">
						<div>Inning</div>
						<div>
							<button type="button" ng-click="scoreBoard.previousHalfInning()" class="btn btn-default" ng-class="{disabled : (scoreBoard.inning == 1 && scoreBoard.isTopOfInning) }" aria-label="Inning Previous Half" ng-if="scoreBoard.isCorrectionMode()">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
							<span ng-if='scoreBoard.isTopOfInning' class="sr-only">Top of </span>
							<span ng-if='!scoreBoard.isTopOfInning' class="sr-only">Bottom of </span>
							<span class="h4">{{scoreBoard.inning}}</span>
							<span ng-if='scoreBoard.isTopOfInning' class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
							<span ng-if='!scoreBoard.isTopOfInning' class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
							<button type="button" ng-click="scoreBoard.nextHalfInning()" class="btn btn-default" aria-label="Inning Next Half" ng-if="scoreBoard.isCorrectionMode()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4 col-sm-pull-4">
						<div>{{scoreBoard.visitorTeamName}}</div>
						<div>
							<button type="button" ng-click="scoreBoard.addRunVisitor()" class="btn btn-default" aria-label="Visitor Score Plus One" ng-if="!scoreBoard.isCorrectionMode()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
							<button type="button" ng-click="scoreBoard.removeRunVisitor()" class="btn btn-default" ng-class="{disabled: scoreBoard.visitorScore == 0}" aria-label="Visitor Score Minus One" ng-if="scoreBoard.isCorrectionMode()">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
							<span class="h4">{{scoreBoard.visitorScore}}</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-4">
						<div>{{scoreBoard.homeTeamName}}</div>
						<div>
							<button type="button" ng-click="scoreBoard.addRunHome()" class="btn btn-default" aria-label="Home Score Plus One" ng-if="!scoreBoard.isCorrectionMode()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
							<button type="button" ng-click="scoreBoard.removeRunHome()" class="btn btn-default" ng-class="{disabled: scoreBoard.homeScore == 0}" aria-label="Home Score Minus One" ng-if="scoreBoard.isCorrectionMode()">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
							<span class="h4">{{scoreBoard.homeScore}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="">
					<div class="row col-xs-6">
						<div class="col-xs-12 col-sm-6">
							<div>Ball</div>
							<div>
								<button type="button" ng-click="scoreBoard.addBall()" class="btn btn-default" aria-label="Add Ball" ng-if="!scoreBoard.isCorrectionMode()">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</button>
								<button type="button" ng-click="scoreBoard.removeBall()" class="btn btn-default" ng-class="{disabled: scoreBoard.balls == 0}" aria-label="Remove Ball" ng-if="scoreBoard.isCorrectionMode()">
									<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
								</button>
								<span ng-class="{lightOff: scoreBoard.balls == 0}" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								<span ng-class="{lightOff: scoreBoard.balls <= 1}" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								<span ng-class="{lightOff: scoreBoard.balls <= 2}" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								<span class="sr-only">{{scoreBoard.balls}} balls</span>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div>Strike</div>
							<div>
								<button type="button" ng-click="scoreBoard.addStrike()" class="btn btn-default" aria-label="Add Strike" ng-if="!scoreBoard.isCorrectionMode()">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</button>
								<button type="button" ng-click="scoreBoard.removeStrike()" class="btn btn-default" ng-class="{disabled: scoreBoard.strikes == 0}" aria-label="Remove Strike" ng-if="scoreBoard.isCorrectionMode()">
									<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
								</button>
								<span ng-class="{lightOff: scoreBoard.strikes == 0}" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								<span ng-class="{lightOff: scoreBoard.strikes <= 1}" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								<span class="sr-only">{{scoreBoard.strikes}} strikes</span>
							</div>
						</div>
					</div>
					<div class="row col-xs-6">
						<div class="col-xs-12 col-sm-6">
							<div>Out</div>
							<div>
								<button type="button" ng-click="scoreBoard.addOut()" class="btn btn-default" aria-label="Add Out" ng-if="!scoreBoard.isCorrectionMode()">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</button>
								<button type="button" ng-click="scoreBoard.removeOut()" class="btn btn-default" ng-class="{disabled: scoreBoard.outs == 0}" aria-label="Remove Out" ng-if="scoreBoard.isCorrectionMode()">
									<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
								</button>
								<span ng-class="{lightOff: scoreBoard.outs == 0}" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								<span ng-class="{lightOff: scoreBoard.outs <= 1}" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
								<span class="sr-only">{{scoreBoard.outs}} outs</span>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div>&nbsp;</div>
							<button type="button" ng-click="scoreBoard.newBatter()" class="btn btn-default" aria-label="New Batter">
								New Batter
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>